CollectionDataLoader/backend/src/main/resources/static/dataEnv.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="env">
  <xs:complexType>
    <xs:sequence>
       <xs:element name="database" minOccurs="1" maxOccurs="unbounded">
         <xs:complexType>
           <xs:sequence>
             <xs:element name="database-name" type="xs:string"/>
             <xs:element name="connection-string" type="xs:string" />
             <xs:element name="username" type="xs:string"/>
             <xs:element name="password" type="xs:string"/>
             <xs:element name="max-connections" type="xs:int"/>
           </xs:sequence>
         </xs:complexType>
       </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
</xs:element>
</xs:schema>